{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Información{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">
    Información
  </li>
{% endblock %}
{% block content %}

    <h1><strong>Información</strong></h1>
    <ul>
      {% for noticia in object_list %}
          <li>
              <h2><a href="{% url 'noticia:detalle' noticia.pk %}">{{ noticia.titulo }}</a></h2>
              <p>Fecha de publicación: {{ noticia.fecha_publicacion }}</p>
          </li>
      {% endfor %}
  </ul>  

  <div style="text-align: center;">
    <img src="{% static 'img/informacion.svg' %}" alt="information" style="max-width: 100%; max-height: 40vh;">
</div>    
  
{% endblock %}
{% block extra_footer %}
  <script type="text/javascript">
    $(document).ready(function() {
      var table = $('#table').DataTable();
      button_datatable(table);
    });
  </script>
{% endblock %}
